.seller-properties {
    padding: 20px;
}

.seller-properties h2 {
    margin-bottom: 20px;
}

.property-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 30%; /* Adjust width */
    height: 25%;
}

.property-field {
    margin-bottom: 10px;
}

.property-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.property-value {
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
@media(max-width:700px){
    .property-item {
        width: 80%; 
        height: 25%;
    }
}